:root {
  --md-primary-fg-color: #0e9f6e;
  --md-primary-fg-color--light: #0e9f6e;
  --md-primary-fg-color--dark: #0e9f6e;
  --md-accent-fg-color: #057a55;
  --md-accent-fg-color--light: #057a55;
  --md-accent-fg-color--dark: #057a55;
}