{% extends 'base.html' %} {% load i18n %} 
{% load unicorn %}%

{% block content %}

<div class="bg-gray-100">
  <div class="min-h-screen flex">
    <!-- Sidebar -->
    {% include 'includes/_sidebar.html' %}

    <!-- Main content -->
    <main class="p-8" x-data>
      <div class="flex flex-col xl:grid xl:grid-cols-4 xl:grid-rows-6 gap-4">
        <div
          class="bg-white p-6 rounded-lg shadow-lg grid col-span-2 order-1"
          x-data="{loading: false}"
        >
          <h1 class="text-2xl font-bold mb-4">
            {% trans "Create a Daytistic" %}
          </h1>
          <p>
            <b>{% trans "Hint" %}</b>: {% trans "The Daytistic must not be older than 4 weeks." %}
          </p>

          <form
            hx-post="{% url 'daytistics:create_daytistic' %}"
            hx-trigger="submit"
            hx-target="#result" 
            hx-swap="innerHTML"
            hx-indicator="#spinner"
            @submit.prevent="loading = true"
            @htmx:afterRequest="loading = false"
            @click="window.Unicorn.call('daytistics_list.update');"
          >
            {% csrf_token %}
            <label for="date" class="mt-4">{% trans "Date" %}: </label>
            <input
              x-mask="99.99.9999"
              placeholder="DD.MM.YYYY"
              name="date"
              class="mt-4 bg-white-light text-gray-500 border-1 rounded-md p-2 mb-4 focus:bg-white-light focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150 h-11"
              required
            />

            <div class="flex flex-row mr-1.5 justify-end md:justify-start md:mr-0">
              <div id="submit-button-container" class="inline">
              <button
                type="submit"
                id="submit-button"
                class="h-11 w-48 bg-green-500 text-white font-bold py-2 px-4 rounded-md hover:bg-green-600 hover:scale-105 transition ease-in-out duration-200"
              >
                {% trans "New Daytistic" %}
              </button>

              <span id="spinner" class="hidden ml-4" x-show="loading">
                <span>
                  <div class="inline-flex flex-row gap-2 align-middle">
                    <div
                      class="w-4 h-4 rounded-full bg-green-600 animate-bounce"
                    ></div>
                    <div
                      class="w-4 h-4 rounded-full bg-green-600 animate-bounce [animation-delay:-.3s]"
                    ></div>
                    <div
                      class="w-4 h-4 rounded-full bg-green-600 animate-bounce [animation-delay:-.5s]"
                    ></div>
                  </div>
                </span>
              </span>
            </div>
            </div>
          </form>
          <div id="result"></div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg col-span-2 order-2">
          <h1 class="text-2xl font-bold mb-4">
            {% trans "Create a Diary Entry" %}
          </h1>
          <p>
            <b>{% trans "Hint" %}</b>: {% trans "Diary entries are optional. Click" %} <a href="">{% trans "here" %}</a> {% trans "to learn more." %}
          </p>
        </div>

        {% unicorn 'daytistics-list' daytistic_id=daytistic.id %}
        {% comment %} <div class="bg-white p-6 rounded-lg shadow-lg col-span-1 row-span-5 order-4 xl:order-3">
          <form class="flex justify-between items-start md:items-center align-middle flex-col md:flex-row" x-data="itemListHandler()">
            <div class="flex align-middle text-2xl font-bold mb-3">
              <h1>
                Your Daytistics
              </h1>
            </div>
            <div class="flex flex-row items-center space-x-2 justify-end">
              <select name="listType" @change="submitForm($event.target)" x-model="listType">
                <option value="date">Last Date</option>
                <option value="updatedAt">Last Updated</option>
                <option value="createdAt">Creation Date</option>
                <option value="random">Random</option>
              </select>
            </div>
          </form>
          <ul>
            {% for daytistic in daytistics_list %}
              {% include 'daytistics/includes/_daytistic_list_item.html' with daytistic=daytistic %}
            {% endfor %}
          </ul>
        </div>
        <div
          class="bg-white p-6 rounded-lg shadow-lg col-span-3 row-span-5 col-start-2 flex flex-col order-3 xl:order-4"
        ></div>
      </div> {% endcomment %}
    </main>

    {% include 'includes/_bottombar.html' %}
  </div>
</div>



<script>

  function itemListHandler() {
    return {
      listSize: 9,
      listType: '', 

      init() {
          const urlParams = new URLSearchParams(window.location.search);

          const listSizeParam = urlParams.get('listSize');
          const listTypeParam = urlParams.get('listType');

          if (listSizeParam) {
            this.listSize = parseInt(listSizeParam, 10);
          }

          if (listTypeParam) {
            this.listType = listTypeParam; 
          }
        },

      submitForm(element) {
        element.parentElement.closest('form').submit();
      }
    };
  }

  document.addEventListener("htmx:configRequest", function (evt) {
    document.getElementById("submit-button").classList.add("hidden");
    document.getElementById("spinner").classList.remove("hidden");
  });
  document.addEventListener("htmx:afterOnLoad", function (evt) {
    document.getElementById("submit-button").classList.remove("hidden");
    document.getElementById("spinner").classList.add("hidden");
  });
  document.addEventListener("htmx:afterRequest", function (evt) {
    if (!evt.detail.successful) {
      document.getElementById("submit-button").classList.remove("hidden");
      document.getElementById("spinner").classList.add("hidden");
    }
  });
</script>

{% endblock content %}
