{% load static %}

<div class="fixed z-50 w-3/4 md:w-full h-16 max-w-lg -translate-x-1/2 rounded-full bottom-4 left-1/2 bg-green-700 xl:hidden">
  <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
    <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-green-800 bg-green-700 group">
      <img src="{% static 'icons/dashboard.svg' %}" alt="Dashboard icon" class="inline-block" />
      <span class="sr-only">Home</span>
    </button>
    <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
      Home<div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-green-800 bg-green-700 group">
      <img src="{% static 'icons/relationships.svg' %}" alt="Relationships icon" class="inline-block" />
      <span class="sr-only">Relationships</span>
    </button>
      <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-green-800 bg-green-700 group">
        <img src="{% static 'icons/predictions.svg' %}" alt="Predictions icon" class="inline-block" />
        <span class="sr-only">Predictions</span>
      </button>
      <div id="tooltip-wallet" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
        Wallet<div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-green-800 bg-green-700 group">
        <img src="{% static 'icons/settings.svg' %}" alt="Settings icon" class="inline-block" />
        <span class="sr-only">Settings</span>
      </button>
      <div id="tooltip-settings" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
        Settings<div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      <button data-tooltip-target="tooltip-profile" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-green-800 group">
        <img src="{% static 'icons/logout.svg' %}" alt="Logout icon" class="inline-block" />
        <span class="sr-only">Logout</span>
      </button>
      <div id="tooltip-profile" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
        Logout<div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
</div>
