<li>
  <div class="flex justify-between bg-slate-50 p-5 my-3 rounded-lg">
    <div class="flex align-middle justify-center items-center">
      <span class="text-xl">{{ daytistic.date }}</span>
    </div>

    <div class="grid grid-cols-3 grid-rows-1 gap-2">
      <a href="">
        <div class="bg-green-500 p-2 max-w-fit rounded-md">
          <svg width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
      </a>
      <div x-data="editModalHandler">
        <button @click="openModal('{{ daytistic.id }}')">
          <div class="bg-orange-500 p-2 max-w-fit rounded-md">
            <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                <metadata>
                    <sfw xmlns="&amp;ns_sfw;">
                    <slices></slices>
                    <slicesourcebounds width="505" height="984" bottomleftorigin="true" x="0" y="-984"></slicesourcebounds>
                    </sfw>
                </metadata>
                <g>
                    <g>
                    <g>
                        <path d="M1,24c-0.3,0-0.5-0.1-0.7-0.3C0,23.4-0.1,23,0.1,22.6l3-7c0-0.1,0.1-0.2,0.2-0.3L17.5,1.1c1.4-1.4,3.9-1.4,5.4,0 C23.6,1.9,24,2.8,24,3.8c0,1-0.4,2-1.1,2.7L8.7,20.7c-0.1,0.1-0.2,0.2-0.3,0.2l-7,3C1.3,24,1.1,24,1,24z M4.8,16.6l-1.9,4.5 l4.5-1.9l14-14C21.8,4.8,22,4.3,22,3.8c0-0.5-0.2-0.9-0.5-1.3c-0.8-0.8-1.9-0.7-2.6,0L4.8,16.6z"></path>
                    </g>
                    </g>
                    <g>
                    <g>
                        <path d="M8,21c-0.3,0-0.5-0.1-0.7-0.3l-4-4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l4,4c0.4,0.4,0.4,1,0,1.4C8.5,20.9,8.3,21,8,21z"></path>
                    </g>
                    </g>
                    <g>
                    <g>
                        <path d="M20.5,7.5c-0.3,0-0.5-0.1-0.7-0.3l-3.5-3.5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l3.5,3.5c0.4,0.4,0.4,1,0,1.4 C21,7.4,20.8,7.5,20.5,7.5z"></path>
                    </g>
                    </g>
                </g>
                </g>
            </svg>
        </div>
      </button>
      <div x-show="isOpen" 
         @click.away="closeModal" 
         class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
      <div @click.stop class="bg-white p-6 rounded-lg shadow-lg">
        <button @click="closeModal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
          &times;
        </button>
        <div x-html="modalContent"></div>
      </div>
    </div>
      </div>
      <a href="">
        <div class="bg-blue-500 p-2 max-w-fit rounded-md">
          <svg width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8C7 6.89543 7.89543 6 9 6H15C16.1046 6 17 6.89543 17 8V10C17 11.1046 16.1046 12 15 12H9C7.89543 12 7 11.1046 7 10V8ZM9 8H15V10H9V8Z" fill="#ffffff"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1C3.89543 1 3 1.89543 3 3V21C3 22.1046 3.89543 23 5 23H17C19.2091 23 21 21.2091 21 19V5C21 2.79086 19.2091 1 17 1H5ZM5 4C5 3.44772 5.44772 3 6 3H17C18.1046 3 19 3.89543 19 5V19C19 20.1046 18.1046 21 17 21H6C5.44772 21 5 20.5523 5 20V4Z" fill="#ffffff"></path>
            </g>
          </svg>
        </div>
      </a>
    </div>
  </div>
</li>

<script>
    function editModalHandler() {
      return {
        isOpen: false,
        modalContent: '',
        addActivityResult: '',

        openModal(daytisticId) {
          fetch(`{% url "daytistics:edit_daytistic" daytistic_id=0 %}`.replace('0', daytisticId))
            .then(response => response.text())
            .then(html => {
              this.modalContent = html;
              this.isOpen = true;
            });
        },

        closeModal() {
          this.isOpen = false;
          this.modalContent = ''; 
        },

        async addActivity(route) {
          try {

            console.log(document.querySelector('select[name="activity_id"]').value);
            console.log(document.querySelector('input[name="duration"]').value);

            const response = await fetch(route, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
              },
              body: JSON.stringify({
                activity_id: document.querySelector('select[name="activity_id"]').value,
                duration: document.querySelector('input[name="duration"]').value,
              }),
            });


            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }

            const contentType = response.headers.get('Content-Type');
            let data;
            if (contentType && contentType.includes('application/json')) {
              data = await response.json();
              console.log('Success:', data);
              // Handle the JSON response data here
            } else {
              data = await response.text();
              console.log('Received HTML:', data);
              document.querySelector('#add-activity-result').innerHTML = data;
            }
          } catch (error) {
            console.error('Error:', error);
          }
        },
      };
    }
</script>