{% load static %}

<li>
  <div class="flex justify-between bg-slate-50 p-5 my-3 rounded-lg">
    <div class="flex align-middle justify-center items-center">
      <span class="text-xl hidden md:block xl:hidden">{{ daytistic.date }}</span>
      <span class="text-xl block md:hidden xl:block">{{ daytistic.date|date:"d. M" }}</span>
    </div>

    <div>
      <div x-data="editModalHandler" class="flex flex-row">
        <button @click="openModal('{{ daytistic.id }}')" class="mr-3">
          <div class="bg-orange-500 p-2 max-w-fit rounded-md">
            <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                <metadata>
                    <sfw xmlns="&amp;ns_sfw;">
                    <slices></slices>
                    <slicesourcebounds width="505" height="984" bottomleftorigin="true" x="0" y="-984"></slicesourcebounds>
                    </sfw>
                </metadata>
                <g>
                    <g>
                    <g>
                        <path d="M1,24c-0.3,0-0.5-0.1-0.7-0.3C0,23.4-0.1,23,0.1,22.6l3-7c0-0.1,0.1-0.2,0.2-0.3L17.5,1.1c1.4-1.4,3.9-1.4,5.4,0 C23.6,1.9,24,2.8,24,3.8c0,1-0.4,2-1.1,2.7L8.7,20.7c-0.1,0.1-0.2,0.2-0.3,0.2l-7,3C1.3,24,1.1,24,1,24z M4.8,16.6l-1.9,4.5 l4.5-1.9l14-14C21.8,4.8,22,4.3,22,3.8c0-0.5-0.2-0.9-0.5-1.3c-0.8-0.8-1.9-0.7-2.6,0L4.8,16.6z"></path>
                    </g>
                    </g>
                    <g>
                    <g>
                        <path d="M8,21c-0.3,0-0.5-0.1-0.7-0.3l-4-4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l4,4c0.4,0.4,0.4,1,0,1.4C8.5,20.9,8.3,21,8,21z"></path>
                    </g>
                    </g>
                    <g>
                    <g>
                        <path d="M20.5,7.5c-0.3,0-0.5-0.1-0.7-0.3l-3.5-3.5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l3.5,3.5c0.4,0.4,0.4,1,0,1.4 C21,7.4,20.8,7.5,20.5,7.5z"></path>
                    </g>
                    </g>
                </g>
                </g>
            </svg>
        </div>
      </button>
      <button>
        <div class="bg-blue-500 p-2 max-w-fit rounded-md">
          <svg width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8C7 6.89543 7.89543 6 9 6H15C16.1046 6 17 6.89543 17 8V10C17 11.1046 16.1046 12 15 12H9C7.89543 12 7 11.1046 7 10V8ZM9 8H15V10H9V8Z" fill="#ffffff"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1C3.89543 1 3 1.89543 3 3V21C3 22.1046 3.89543 23 5 23H17C19.2091 23 21 21.2091 21 19V5C21 2.79086 19.2091 1 17 1H5ZM5 4C5 3.44772 5.44772 3 6 3H17C18.1046 3 19 3.89543 19 5V19C19 20.1046 18.1046 21 17 21H6C5.44772 21 5 20.5523 5 20V4Z" fill="#ffffff"></path>
            </g>
          </svg>
        </div>
      </button>
      <div x-show="isOpen" 
         @click.away="closeModal" 
         class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
      <div @click.stop class="bg-white p-6 rounded-lg shadow-lg">
        <button @click="closeModal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
          &times;
        </button>
        <div 
            x-data="editDaytisticHandler($el.dataset.csrfToken)" 
            data-csrf-token="{{ csrf_token }}" 
            x-html="modalContent"
        >
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</li>

<script>
    function editModalHandler() {
      return {
        isOpen: false,
        modalContent: '',
        overview: true,

        openModal(daytisticId) {
          fetch(`{% url "daytistics:edit_daytistic" daytistic_id=0 %}`.replace('0', daytisticId))
            .then(response => response.text())
            .then(html => {
              this.modalContent = html;
              this.isOpen = true;
            });
        },

        closeModal() {
          this.isOpen = false;
          this.modalContent = ''; 
        },

        toggleOverview() {
          this.overview = !this.overview;
        }

        
      };
    }
</script>

<script src="{% static 'js/edit_daytistic_handler.js' %}"></script>
