{% load static %}

<div class="flex flex-col min-w-96">
  <div class="flex flex-row justify-between">
    <div class="flex justify-center align-middle items-center">
      <h2 class="text-xl font-bold">Activities</h2>
    </div>
    <img
      src="{% static 'icons/close_modal.svg' %}"
      @click="toggleOverview()"
      class="hover:cursor-pointer"
    />
  </div>
  <div>
    <div
      class="bg-slate-50 p-5 my-3 rounded-lg grid-rows-10 grid-cols-1 gap-x-4"
    >

    <p>To delete an activity, set the duration to 0:00 and save.</p>
    <div id="edit-activities-result"></div>

    <div id="activity-container" x-init="loadActivities('{% url 'daytistics:list_activities_as_json' daytistic_id=daytistic.id %}')">
      {% for activity_entry in daytistic.activities.all %}
        {% include 'daytistics/includes/_edit_activity_item.html' with activity_entry=activity_entry %}
      {% endfor %}
    </div>
    </div>
  </div>
</div>

