{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {% tailwind_css %}

    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    {% load django_htmx %}
    {% django_htmx_script %}

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.3/dist/cdn.min.js" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="font-mono">
    <nav>
        {% include "header.html" %}
    </nav>

    {% if request.path == '/' %}
        <header>
            {% include "home/hero.html" %}
        </header>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>