{% load static %}

<div x-data="{ open: false, userMenuOpen: false }" class="relative flex flex-row justify-between text-black font-semibold text-lg p-9">
    <div class="hidden items-center justify-center ml-9 md:flex">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" width="120px">
        </a>
    </div>

    <div class="flex items-center justify-center ml-9 md:hidden">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" width="80px">
        </a>
    </div>

    <div class="flex-row items-center justify-center mr-9 space-x-7 hidden md:flex">
        <a href="{% url 'home' %}">Konzept</a>
        <a href="{% url 'home' %}">Features</a>
        <a href="{% url 'home' %}">FAQ</a>
        <a href="{% url 'home' %}">Projekt</a>
        
        <a href="https://github.com/adfectatio/daytistics" target="_blank" class="block px-4 py-2">
            <button class="flex gap-3 cursor-pointer text-white font-semibold bg-gradient-to-r from-green-700 to-green-950 px-3 py-2 rounded-full border border-green-600 hover:scale-105 duration-200 hover:text-white-500 hover:border-blue-700-800 hover:from-blue hover:to-green-700">
                <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path></svg>
                Github
            </button>
        </a>

        <span class="text-gray-200">&brvbar;</span>

        {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}">
                <button class="flex gap-3 cursor-pointer text-white font-semibold bg-gradient-to-r from-green-700 to-green-950 px-3 py-2 rounded-full border border-green-600 hover:scale-105 duration-200 hover:text-white-500 hover:border-blue-700-800 hover:from-blue hover:to-green-700">
                    <svg fill="#FFFFFF" width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <title>door-open</title>
                        <path d="M30 29.25h-1.25v-25.25c-0-0.414-0.336-0.75-0.75-0.75h-6c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0h5.25v25.25c0 0.414 0.336 0.75 0.75 0.75h2c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0zM17.853 1.26l-11.977 2c-0.357 0.062-0.626 0.37-0.626 0.74 0 0 0 0 0 0v0 25.25h-3.25c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0h15.977c0.414-0 0.75-0.336 0.75-0.75v0-28c-0.001-0.414-0.337-0.75-0.751-0.75-0.043 0-0.086 0.004-0.127 0.011l0.004-0.001zM6.75 29.25v-24.615l10.477-1.749v26.364zM13.979 15.3c-0.082-0.030-0.177-0.048-0.276-0.048-0.21 0-0.401 0.079-0.545 0.209l0.001-0.001c-0.136 0.139-0.22 0.33-0.22 0.54s0.084 0.401 0.22 0.54l-0-0c0.145 0.122 0.334 0.197 0.539 0.199h0.001c0.1-0.002 0.197-0.016 0.288-0.042l-0.008 0.002c0.094-0.039 0.173-0.092 0.24-0.159v0c0.136-0.139 0.22-0.33 0.22-0.54s-0.084-0.401-0.22-0.54l0 0c-0.067-0.068-0.147-0.122-0.236-0.158l-0.005-0.002z"></path>
                    </svg>
                    Login
                </button>
            </a>
        {% else %}
            <div @click.away="userMenuOpen = false" class="relative">
                <button @click="userMenuOpen = !userMenuOpen">
                    <svg x-show="userMenuOpen" width="24px" height="24px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-arrow-up inline">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M2.16,10.754 C1.935,10.754 1.71,10.692 1.51,10.558 L9.039,6.402 L15.076,10.599 C15.617,10.958 16.346,10.812 16.705,10.271 C17.065,9.732 16.92,9 16.38,8.641 L9.692,4.011 C9.298,3.747 8.784,3.746 8.388,4.009 L1.508,8.598 C0.966,8.958 0.82,9.69 1.179,10.23 C1.407,10.571 1.78,10.754 2.16,10.754 L2.16,10.754 Z" fill="#434343" class="si-glyph-fill"></path>
                        </g>
                    </svg>

                    <svg x-show="!userMenuOpen" width="24px" height="24px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-arrow-down inline">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M2.16,6.246 C2.385,6.246 2.61,6.308 2.81,6.442 L9.039,10.598 L15.076,6.401 C15.617,6.042 16.346,6.188 16.705,6.729 C17.065,7.268 16.92,8 16.38,8.359 L9.692,12.989 C9.298,13.253 8.784,13.254 8.388,12.991 L1.508,8.402 C0.966,8.042 0.82,7.31 1.179,6.77 C1.407,6.429 1.78,6.246 2.16,6.246 L2.16,6.246 Z" fill="#434343" class="si-glyph-fill"></path>
                        </g>
                    </svg>
                    {{ user.username }}
                </button>
                <div x-show="userMenuOpen" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-95" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-95" class="absolute right-0 mt-2 py-2 w-48 bg-white border shadow-xl rounded-lg">
                    <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-black">Dashboard</a>
                    <a href="{% url 'home' %}" class="block px-4 py-2 text-black">Einstellungen</a>
                    <a href="{% url 'account_logout' %}" class="block px-4 py-2 text-black">Logout</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="md:hidden flex items-center">
        <button @click="open = !open" class="outline-none mobile-menu-button">
            <svg class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>

    <div x-show="open" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-95" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-95" class="md:hidden absolute left-1/2 transform -translate-x-1/2 top-full mt-2 py-2 w-72 h-auto bg-white border shadow-xl text-center rounded-lg">
        <a href="{% url 'home' %}" class="block px-4 py-2">Konzept</a>
        <a href="{% url 'home' %}" class="block px-4 py-2">Features</a>
        <a href="{% url 'home' %}" class="block px-4 py-2">FAQ</a>
        <a href="{% url 'home' %}" class="block px-4 py-2">Projekt</a>
        <a href="https://github.com/adfectatio/daytistics" target="_blank" class="block px-4 py-2">Github</a>

        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="block px-4 py-2">Dashboard</a>
            <a href="{% url 'account_signup' %}" class="block px-4 py-2">Einstellungen</a>
            <a href="{% url 'account_logout' %}" class="block px-4 py-2">Logout</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="block px-4 py-2">Login</a>
            <a href="{% url 'account_signup' %}" class="block px-4 py-2">Registrierung</a>
        {% endif %}
    </div>
</div>
