<div>
      <div class="bg-white p-6 rounded-lg shadow-lg col-span-1 row-span-5">
    <form
      class="flex justify-between items-center align-middle"
      x-data="itemListHandler()"
    >
      <div class="flex align-middle text-2xl font-bold">
        <h1>Your Daytistics</h1>
      </div>
      <div class="flex flex-row items-center space-x-2 justify-end">
        <select
          name="listType"
          @change="submitForm($event.target)"
          x-model="listType"
        >
          <option value="date">Last Date</option>
          <option value="updatedAt">Last Updated</option>
          <option value="createdAt">Creation Date</option>
          <option value="random">Random</option>
        </select>
      </div>
    </form>
    <ul>
      {% for daytistic in daytistics_list %}
       {% include 'daytistics/includes/_daytistic_list_item.html' with daytistic=daytistic %} {% endfor %}
    </ul>
  </div>

</div>
